body {
  background-color: black;
  background-image: url("https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  color: #FFFFFF;
  text-align: center;
}

p, h1, h3, h5 {
  color: #FFFFFF;
}

.column {
  float: left;
  width: 33.33%;
}
.row1 {
margin-top: 5%;
}
